*{
    margin:0;
    padding:0;
    color:#3c3c3c;
}
a{
    text-decoration: none;
}
input[type=checkbox]{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.g-car-content{
    position: relative;
}
#shopping-car{
    width:1188px;
    height:auto;
    margin:20px auto;
    font-size: 12px;
    position: relative;
}
#select-all-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
}
#select-all-box .out-input{
    position: absolute;
    top: 0;
    left: 0;
}
.all{
    position: absolute;
    top: -18px;
    left: 20px;
}
li{
    list-style-type: none;
}
.out-input{
    position: absolute;
    top:13px;
    left:13px;
    width: 13px;
    border: thin solid #d6cfcf;
    height: 13px;
    float: left;
    background: transparent;
}
.out-input input{
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
}
#car-menu{
    height:50px;
    margin-left: 391px;
    height: 39px;
}
.select{
    width:50px;
}
.g-show{
    width:342px;
}
.g-infor{
    width:250px;
}
.g-price{
    width:130px;
}
.g-number{
    width:120px;
}
.g-sum-price{
    width:140px;
}
.g-handle{
    width:119px;
}
.g-item{
    position: relative;
}
.fl{
    float:left;
    line-height:50px;
    height:100%;
    text-align: left;
}
.select{
    text-align: center;
}
.select input{
    background:url("images/red_right.png") no-repeat;
    cursor:pointer;
}
.item-shop-name{
    text-align: left;
    width:100%;
    margin-left: 10px;
}
.item-shop-name .out-input{
    float:left;
    position: absolute;
    top: 0;
    left: 1px;
}
.shop-name{
    float:left;
    position: absolute;
    top: 0px;
    left: 20px;

}
.item-checkbox{
    position: relative;
}
.store-in-list{
    overflow: hidden;
}
.store-in-list li{
    position: relative;
    background: #FCFCFC;
    margin:20px 0;
    height:120px;
    overflow: hidden;
    border:thin solid #cecece;

}
.store-in-list img{
    width:82px;
    height:82px;
    line-height: 120;
    border:thin solid #cecece;
    padding:5px;
    box-sizing: border-box;

}
.item-g-infor{
    padding-top: 20px;
}
.item-g-infor  .g-color,.item-g-infor .g-size{
    line-height: 25px;
}
.item-number{
    height:25px;
    margin-top: 20px;
}
.detail-number{
    margin-left: -20px;

}
.item-number .detail-number input{
    width:40px;
    height:25px;
    text-align: center;
    float: left;
    border: 1px solid #aaa;

}
.item-price{
    font-family: Verdana,Tahoma,arial;
    color: #000;
    font-weight: bold;
}
.detail-number a{
    text-align: center;
}
.item-number a{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f0f0f0;
    height: 27px;
    width:20px;
    display: inline-block;
    line-height: 20px;
    float: left;
}
.item-number a:hover{
    border: thin solid #f60;
    color: #f50;
}
.item-show{
    margin-top: 19px;
}
.item-g-infor{
    color: #9c9c9c;!important;
}
.g-show-infor {
    padding:0 46px 0 10px;
    height:100%;
    overflow: hidden;
}
.g-show-infor a{
    overflow: hidden;
    display: block;
    height:82px;
    line-height:18px;
}
.g-show-infor a:hover,#pay li a:hover{
    text-decoration: underline;
    color: #f60;;
}
.item-sum-price{
    font-family: Verdana,Tahoma,arial;;
    color: #f40;
    font-weight: bold;
}
.item-handle{
    height: 70px;
}
.item-favourite .item-delete{
    height: 25px;
    line-height: 25px;
}
.item-handle a:hover{
    color: #f40;
    text-decoration: underline;
}
#pay{
    width: 1188px;
    height: 50px;
    margin-bottom: 100px;
    position: fixed;
    top: 752px;
    left: 198px;
    z-index: 2;
    background-color: #e9eeff;
}
#pay li{
    float:left;
    display: block;
    width:100px;
    height:50px;
    line-height:50px;
    text-align: left;
}
#pay .g-pay-list{
    float:right;
    height:50px;
    line-height:50px;
}
#last-pay{
    width:120px;
    color:#FFF;
    line-height: 50px;
    background: #B0B0B0;
    text-align: center;
    font-family: 'Lantinghei SC','Microsoft Yahei';
    font-size: 20px;
    cursor: pointer;
}
#g-selected{
    width:130px;
    line-height: 50px;
    text-align: center;
}
#g-pay-all{
    width:200px;
    line-height: 50px;
    text-align: center;
  }
#g-selected span{
    margin:10px 0 0 10px;
    color: #f40;
    font-weight:bold;
    font-size:15px;
    font-family: tohoma,arial;
}
#g-pay-all span{
    margin:15px;
    color: #f40;
    font-weight:bold;
    font-size:20px;
    font-family: tohoma,arial;
}
#show-selected{
    display: inline-block;
    width: 11px;
    height: 10px;
}
#show-selected a{
    background: url("images/all_bg.png") no-repeat -60px -23px;
    color: #FFF;
    width: 20px;
    height: 12px;
    display: inline-block;
}
#pay .out-input{
    top:17px;
}
#pay .all-last{
    position: absolute;
    top: 0;
    left: 34px;
}
#show-pic{
    display:none;
    position: absolute;
    width: 1186px;
    min-height: 100px;
    overflow: hidden;
    bottom: 48px;
    left: 0px;
    border: thin solid red;
    background-color: #FFF;
}
#show-pic .pic-item {
    position: absolute;
    top: 5px;
    left: 72px;
    width: 83px;
    height: 83px;
    display: inline-block;
    border: thin solid #ccc7c7;
    background-color: #FFF;
}
#show-pic img{
    width: 83px;
    height: 83px;
}
.pic-delete{
    display: none;
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #FFF;
    background-color: rgba(0,0,0,.6);
    padding: 1px 2px;
}
#show-pic .pic-item:hover .pic-delete{
    display: block;
}
#little-triangle{
    display: none;
    position: absolute;
    top: 1px;
    right: 43px;
    border: 8px solid;
    border-color: #FFF transparent transparent transparent;
}
#scroll-left-icon{
    left: 35px;
    top: 36px;
}
.scroll-icon{
    cursor:pointer;
    width: 12px;
    height: 24px;
    position: absolute;
    background: transparent url("images/all_bg.png") no-repeat -18px -24px;
}
#scroll-right-icon{
    right: 35px;
    top: 36px;
    transform: rotate(180deg);
}
#close-icon{
    cursor:pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 7px;
    background: transparent url("images/X.png") no-repeat;
}